.container {
  margin: 2px 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(246, 223, 223, 0.195);
  margin-bottom: 10px;
  border-radius: 50px;
  padding-top: 10px;
  border: 2px solid rgba(248, 1, 1, 0.136);
  box-shadow: 200px;
}

.image-border {
  background-color: rgba(255, 0, 0, 0.159);
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

body {
  background-color: rgb(237, 219, 219);
  background-image: url('images/dpf8h2nwmft71.jpg');
}

.follow_link {
  display: flex;
  gap: 10px;
}

a {
  color: rgb(21, 0, 255);
}

a:hover {
  color: rgb(194, 191, 191);
}

.follow {
  color: rgb(8, 8, 8);
}

h3 {
  margin: 0;
  padding: 5px;
}

p {
  font-size: 18px;
  margin: 0;
  padding: 20px;
}

ul {
  font-size: 18px;
  margin: 0;
  padding: 20px;
}
